In [17]:
name="Tushar"
j=0
for i in name:
    j=j+1
    print(j,i)
print("Total Character is ",j)

1 T
2 u
3 s
4 h
5 a
6 r
Total Character is  6

In [2]:
a=[0,1,2,3,4,5,6,7,8,9,10]
e=0
o=0
c=0
d=0
s=0
t=0
for i in a:
    if i%2==0:
        e=e+1
        c=c+i
        s=s+i**2
    else:
        o=o+1
        d=d+i
        t=t+i**3
print("Even is ",e)
print("Sum Of Even No.=",c)
print("Sum of Square Even No.=",s)
print("Odd is ",o)
print("Sum of Odd No.=",d)
print("Sum of Square Odd No.=",t)

Even is  6
Sum Of Even No.= 30
Sum of Square Even No.= 220
Odd is  5
Sum of Odd No.= 25
Sum of Square Odd No.= 1225

In [26]:
L=[]
for i in range(97,123):
    L.append(chr(i))
print(L)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [36]:
v=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
a=0
c=0
co=0
for i in v:
    a=a+1
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
      
        c=c+1
    else:
        
        co=co+1
print("apl=",a)
print("Vowel=",c)
print('consonants',co)
# for i in v:
#     c=c+1
# print("Total No. of vowels=",c)

apl= 26
Vowel= 5
consonants 21

In [1]:
x='naman'
if x==x[::-1]:
    print("palidrom")
else:
    print("Not palidrom")

palidrom

In [4]:
n=input("Enter String=")
if n==n[::-1]:
    print("Paidrom:")
else:
    print("Not Palidrom:")

Enter String=Tushar
Not Palidrom:

In [6]:
n='Tushar'
for i in range (1,11):
    print(i,n)

1 Tushar
2 Tushar
3 Tushar
4 Tushar
5 Tushar
6 Tushar
7 Tushar
8 Tushar
9 Tushar
10 Tushar

In [42]:
a=0
b=0
for i in range(1,100+1):
    if i%2==0:
        a=a+i**2
    else:
        b=b+i**3
print("Square of Even No.=",a)
print("Square of Odd No.=",b)

Square of Even No.= 171700
Square of Odd No.= 12497500

In [19]:
n=input("Enter Your Name=")
for i in range(1,11):
    print(i,n)

Enter Your Name=Tushar
1 Tushar
2 Tushar
3 Tushar
4 Tushar
5 Tushar
6 Tushar
7 Tushar
8 Tushar
9 Tushar
10 Tushar

In [18]:
n="Tushar Tomer"
a=0
for i in n:
     a=a+1
print(a)

12

In [21]:
n='Tushar Tomer'
for i in n:
    print(i)

T
u
s
h
a
r

T
o
m
e
r

In [26]:
n=['Tushar Tomer',1,2,3,4]
for i in n:
    print(i)

Tushar Tomer
1
2
3
4

In [5]:
for i in range(1,11):
    print("2 *",i,"=",2*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [6]:
s=int(input("Enter starting no. for table="))
n=int(input("Enter ending no. for table="))
for i in range(s,n+1):
    for j in range(1,11):
        print(i,"*",j,"=",i*j)
    print("\n")

Enter starting no. for table=2
Enter ending no. for table=10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20


3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30


4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40


5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50


6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60


7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70


8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80


9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90


10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [7]:
n=int(input("Enter Your Factorial No.="))
f=1
if n<0:
    print("Not Possible:")
elif n==0:
    print(f)
else:
    for i in range(1,n+1):
         f=f*i
    
         
    print(f)

Enter Your Factorial No.=10
3628800

In [13]:
n=int(input("Enter Your No.="))
c=0
for i in range(1,n+1):
    if n%i==0:
        c=c+1
        print(i)
print(c)
if c==2:
    print("Prime No.")
else:
    print("Not a Prime No.")

Enter Your No.=7
1
7
2
Prime No.

In [4]:
l=[1,2,3,4,5,6,7,8,9,10]
s=0
n=0
for i in l:
    s=s+i
    n=n+1
print("Average is ",s//n)

1
Average is  5

In [4]:
c=0
b=0
n=int(input("How many no. are you enter="))
for i in range(1,n+1):
    a=int(input("Enter No." +str(i)+ "="))
    c=c+a
    b=b+1
print("Average is ",c//b)

How many no. are you enter=5
Enter No.1=2
Enter No.2=4
Enter No.3=6
Enter No.4=8
Enter No.5=10
Average is  6

In [4]:
# Fibonic No.
n=int(input("Enter No.="))
a=0
b=1
for i in range(n):
    print(a)
    c=a
    a=b
    b=a+c

Enter No.=10
0
1
1
2
3
5
8
13
21
34

In [5]:
n=int(input("Enter Any no.="))
a=0
b=1
for i in range(n):
    print(a)
    c=a
    a=b
    b=a+c

Enter Any no.=10
0
1
1
2
3
5
8
13
21
34

In [21]:
a=1
b=10
while a<=b:
    print(a)
    a=a+1

1
2
3
4
5
6
7
8
9
10

In [6]:
a=1
while a!=11:
    print(a)
    a+=1

1
2
3
4
5
6
7
8
9
10

In [25]:
a=input("Enter Any Alphabet=")
while a!='q':
   
    if a=='p':
        print("Hello")
    a=input("Enter Any Alphabet=")
print('bye')

Enter Any Alphabet=t
Enter Any Alphabet=p
Hello
Enter Any Alphabet=q
bye

In [27]:
i=1
n=int(input("Enter Any No.="))
while i!=11:
    print(n,"*",i,"=",n*i)
    i+=1

Enter Any No.=7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [5]:
# Factor
a=int(input("Enter a No.="))
for i in range(1,a+1):
    if a%i==0:
        print(i)

Enter a No.=10
1
2
5
10

In [7]:
# Range Factor
s=int(input("Enter Starting No.="))
e=int(input("Enter Ending No.="))
for i in range(s,e+1):
    print("Factor of ",i,":")
    for j in range(1,i+1):
        if i%j==0:
            print(j)
    print("================================================")

Enter Starting No.=2
Enter Ending No.=4
Factor of  2 :
1
2
================================================
Factor of  3 :
1
3
================================================
Factor of  4 :
1
2
4
================================================

In [ ]:
# Factorial of while condition
# given no. of power of 2
# given no. of power of 3

In [2]:
f=int(input("Enter Any No.="))
a=1
while f>=1:
    a=a*f
    f=f-1
print("Factorial is ",a)

Enter Any No.=10
Factorial is  3628800

In [6]:
n=int(input("Enter Any No.="))
a=1
while a<=n:
    if n==a*a:
        print("Yes it's a square of ",a)
        break
    a=a+1
else:   
    print(n," is not a square of any no.:")

Enter Any No.=4
Yes it's a square of  2

In [1]:
n=int(input("Enter Any No.="))
a=1
while a<=n:
    if n==a**3:
        print("Yes it's a cube of ",a)
    a+=1
    
print(n," is not a cube of any no.:")

Enter Any No.=64
Yes it's a cube of  4
64  is not a cube of any no.:

In [12]:
f=int(input("Enter Any No.="))
a=1
b=1
while a!=f+1:
    b=b*a
    a+=1
print("Factorial is ",b)

Enter Any No.=10
Factorial is  3628800

In [4]:
# prime no. or not
n=int(input("Enter Any no.="))
f=0
for i in range(2,n//2+1):
    if n%i==0:
        f=1
if f==0:
    print("It's a Prime No.:")
else:
    print("It's is not a Prime no.")

Enter Any no.=13
It's a Prime No.:

In [11]:
n=int(input("Enter Any No.="))
a=0
b=1
while n>0:
    print(a)
    c=a
    a=b
    b=a+c
    n=n-1

Enter Any No.=10
0
1
1
2
3
5
8
13
21
34

In [15]:
n=int(input("Enter Any No.="))
f=1
a=1
if n<0:
    print("Not Possible:")
elif n==0:
    print(f)
else:
    while n>=1:
        a=a*n
        n=n-1
    print(a)

Enter Any No.=-1
Not Possible:

In [1]:
n=9645654554
c=0
while n!=0:
    c=c+1
    n=n//10
print(c)

10

In [2]:
n=input("Enter Your Mobile No.=")
b=0
c=int(n)
while c!=0:
        b=b+1
        c=c//10
print(b)
if b==10:
    if n=='9676556365':
        print("Yes it's your no.:")
    else:
        print("It's not your no.:")
else:
    print("Reenter the correct no.:")

Enter Your Mobile No.=9676556365
10
Yes it's your no.:

In [12]:
# Reverse a No.
b=0
n=int(input("Enter Any No.="))
while n!=0:
    a=n%10
    b=b*10+a
    n=n//10
print("Reverse No.=",b)

Enter Any No.=124
Reverse No.= 421

In [27]:
# Armstrong Number
n=int(input("Enter Any No.="))
x=n
y=x
c=0
arm=0
while n!=0:
    c=c+1
    n=n//10
# print(c)

while x!=0:
    d=x%10
    arm=arm+(d**c)
    x=x//10
if arm==y:
    print("It's a Armstrong No,:")
else:
      print("It's not a Armstrong No,:")

Enter Any No.=153
It's a Armstrong No,:

In [8]:
b=0
n=int(input("Enter a no.="))
x=n
l=len(str(n))
while n!=0:
    a=n%10
    b=b+a**l
    n=n//10
print(b)
if b==x:
    print("It is a Armstrong No.:")
else:
    print("It is not a Armstrong NO.:")

Enter a no.=122
17
It is not a Armstrong NO.:

In [9]:
b=0
n=int(input("Enter Any no.="))
d=n
while n!=0:
    a=n%10
    b=b+a**3
    n=n//10
print(b)
if b==d:
    print("Armstrong No.:")
else:
    print("Not Armstrong:")

Enter Any no.=124
73
Not Armstrong:

In [28]:
n=int(input("Enter Any No.="))
b=n
d=b
a=0
arm=0
while n!=0:
    a=a+1
    n=n//10
#print(a)
while b!=0:
    c=b%10
    arm=arm+(c**a)
    b=b//10
if arm==d:
    print(d,"Armstrong No.:")
else:
    print(d,"Not a Armstrong No.:")

Enter Any No.=122
122 Not a Armstrong No.:

In [30]:
n=int(input("Enter Any No.="))
x=n
rev=0
while n!=0:
    d=n%10
    rev=rev*10+d
    n=n//10

print(rev)
if rev==x:
    print("Palidrom No.:")
else:
    print("Not a Palidrom No.:")

Enter Any No.=242
242
Palidrom No.:

In [10]:
b=0
n=int(input("Enter Any No.="))
x=n
while n!=0:
    a=n%10
    b=b*10+a
    n=n//10
print(b)
if b==x:
    print("Palindrom No.:")
else:
    print("Not a Palindrom No.:")

Enter Any No.=124
421
Not a Palindrom No.:

In [34]:
n=int(input("Enter Any no.="))
a=n
b=0
while n!=0:
    c=n%10
    b=b*10+c
    n=n//10
#print(b)
if b==a:
    print(a,"Yes it's a palidrom no.:")
else:
    print(a," not a palidrom no.:")

Enter Any no.=124
124  not a palidrom no.:

In [ ]:
# print 100 to 1 no. in reverse

In [8]:
a=100
b=1
while a>=b:
    print(a)
    a=a-1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [17]:
# Print No. 100 to 1 in reverse
for i in range(100,0,-1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [31]:
# 
n=int(input("Enter Any No.="))
c=0
s=0
while n>0 or c>9:
    if n==0:
        n=c
        c=0
        
    c=c+n%10
    n=n//10
print(c)

Enter Any No.=2345678987654323456787654323456784657687989087685728798098844578908976485734625687890997865764678097857657867980987665788975887889878799878689898989888
3

In [6]:
# How many notes 
n=int(input("Enter Any no.="))
a=n//2000
print("Notes of 2000=",a)
n=n%2000
a=n//500
print("Notes of 500=",a)
n=n%500
a=n//200
print("Notes of 200=",a)
n=n%200
a=n//100
print("Notes of 100=",a)
n=n%100
a=n//50
print("Notes of 50=",a)
n=n%50
a=n//20
print("Notes of 20=",a)
n=n%20
a=n//10
print("Notes of 10=",a)
n=n%10
a=n//5
print("Notes of 5=",a)
n=n%5
a=n//2
print("Notes of 2=",a)
n=n%2
a=n//1
print("Notes of 1=",a)

Enter Any no.=7777
Notes of 2000= 3
Notes of 500= 3
Notes of 200= 1
Notes of 100= 0
Notes of 50= 1
Notes of 20= 1
Notes of 10= 0
Notes of 5= 1
Notes of 2= 1
Notes of 1= 0

In [ ]:
# for loop ma three no.
# example. for i in range(1,11,4)

In [9]:
for i in range(1,20,4):
    print(i)

1
5
9
13
17

In [9]:
l=['python','java','perl','pascal','c++','c#','java']
for i in l:
    a=0
    for j in i:
        a=a+1
    print(a,i)

6 python
4 java
4 perl
6 pascal
3 c++
2 c#
4 java

In [13]:
for i in range(100,0,-1):
    if i%2!=0:
        print(i)

99
97
95
93
91
89
87
85
83
81
79
77
75
73
71
69
67
65
63
61
59
57
55
53
51
49
47
45
43
41
39
37
35
33
31
29
27
25
23
21
19
17
15
13
11
9
7
5
3
1

In [36]:
for i in range(99,0,-2):
        print(i)

99
97
95
93
91
89
87
85
83
81
79
77
75
73
71
69
67
65
63
61
59
57
55
53
51
49
47
45
43
41
39
37
35
33
31
29
27
25
23
21
19
17
15
13
11
9
7
5
3
1

In [3]:
for i in range(99,-4,-2):
    print(i)

99
97
95
93
91
89
87
85
83
81
79
77
75
73
71
69
67
65
63
61
59
57
55
53
51
49
47
45
43
41
39
37
35
33
31
29
27
25
23
21
19
17
15
13
11
9
7
5
3
1
-1
-3

In [6]:
for i in range(2,101,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [8]:
for i in range(1,101):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [12]:
n=int(input("Enter Any No.="))
if n%2!=0:
    print(n)
else:
    pass

Enter Any No.=2